body
{
    color: aquamarine;
    text-align: center;
    font-family: "Arial";
}
#cabecera
{
    background: brown;
    color: darkgoldenrod;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;

border: 1px solid #ddd
}