body
{
    color: aquamarine;
    text-align: center;
    font-family: "Arial";
}
#cabecera
{
<<<<<<< HEAD
    background: rgb(35, 159, 55);
    color: rgb(133, 129, 119);
=======
    background: rgb(187, 163, 163);
    color: darkgoldenrod;
>>>>>>> cabecera
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;

border: 1px solid #ddd
}