body
{
    color: aquamarine;
    text-align: center;
    font-family: "Arial";
}
#cabecera
{
    background: rgb(35, 159, 55);
    color: rgb(133, 129, 119);
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;

border: 1px solid #ddd
}